{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <div class="container">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img class="profile-pic" alt="Profile picture" src="{{ request.user.profile_picture.url }}">
            </button>
            <strong class="name mt-3">{{ user.first_name }} {{ user.last_name }}</strong>
            <span class="idd">username - <b>@{{ user.username }}</b></span>
            <span class="idd">{{ user.email }}</span>
            <div class=" d-flex mt-2"> <a class="btn btn-dark" href="{% url 'profile-edit' %}">Edit profile</a> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined {{ user.date_joined | date:"M d, Y" }}</span> </div>
        </div>
    </div>
{% endblock %}