{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <form action="{% url 'delete_blog_comment' blog.slug comment.id %}" method="post">{% csrf_token %}

            <h4>Are you sure you want to delete <b>{{blog.title}} book and {{comment.comment}} review</b>?</h4>
            <a class="btn btn-warning" href="{% url 'read_book' blog.slug %}">Cancel</a>
            <button type="submit" class="btn ml-2" >Confirm</button>
            
        </form>
    </div>

{% endblock content %}